*.log
lowrestaurant.dev/wp-config.php
lowrestaurant.dev/wp-content/advanced-cache.php
lowrestaurant.dev/wp-content/backup-db/
lowrestaurant.dev/wp-content/backups/
lowrestaurant.dev/wp-content/ai1wm-backups/
lowrestaurant.dev/wp-content/envato-backups/
lowrestaurant.dev/wp-content/blogs.dir/
lowrestaurant.dev/wp-content/cache/
lowrestaurant.dev/wp-content/upgrade/
lowrestaurant.dev/wp-content/uploads/
lowrestaurant.dev/wp-content/wp-cache-config.php
lowrestaurant.dev/wp-content/plugins/hello.php

lowrestaurant.dev/.htaccess
lowrestaurant.dev/license.txt
lowrestaurant.dev/readme.html
lowrestaurant.dev/sitemap.xml
lowrestaurant.dev/sitemap.xml.gz

.DS_Store
